@model IEnumerable<CourseViewModel>

@{
    ViewData["Title"] = "Offered Courses";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Listings</h2>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="container-fluid">   
    <div >
        <div class="col-md-4">
             @if (User.IsInRole("Student"))
            {
                <div id="MyEnrollments" class="row">
                    @await Component.InvokeAsync("StudentEnrollments", new { studentId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value })
                </div>
             } 
        </div>
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="row">
                        <th class="col-md-2"> 
                            &nbsp;
                        </th>
                        <th  class="col-md-4">
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th  class="col-md-4">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th class="col-md-1">
                            @Html.DisplayNameFor(model => model.Credits)
                        </th>                         
                        <th class="col-md-1">
                            @Html.DisplayNameFor(model => model.NumberEnrolled)
                        </th>
                        <th class="col-md-1">
                            @Html.DisplayNameFor(model => model.CourseCapacity)
                        </th>                                         
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                     {                        
                        @Html.Partial("CourseOverviewSummary", item);
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
 
    function RefreshMyEnrollments() {
        $.get("/Courses/GetMyEnrollments", function success(data) {
            $("#MyEnrollments").html(data);
        });
    }
   
</script>